<div class="container mt-5">
    <h3 class="text-center text-primary my-4 font-weight-bold">Quickpay</h3>
    <form action="/Quickpay/Post" method="POST">
        @if (Session["result"] != null)
        {
            var result = Session["result"] as Dictionary<string, object>;
            var returncode = (long)result["returncode"];
            var returnmessage = result["returnmessage"].ToString();

            <div class="alert alert-@(returncode >= 1 ? "success" : "danger")">
                <table>
                    <tr>
                        <td><b>returncode</b></td>
                        <td class="pl-2">@returncode</td>
                    </tr>
                    <tr>
                        <td><b>returnmessage</b></td>
                        <td class="pl-2">@returnmessage</td>
                    </tr>
                </table>
            </div>
        }
        <div class="form-group">
            <label for="paymentcodeRaw">Mã thanh toán <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="paymentcodeRaw" placeholder="Nhập mã thanh toán">
            <small class="text-muted">
                Bạn có thể quét mã thanh toán <a href="https://mep.zpapps.vn/docs/quickpay/demo.html" target="_blank">ở đây</a>
                (Click <img src="@Url.Content("~/Content/images/scanicon.png")" width="60" /> ở trường "Mã thanh toán")
            </small>
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea type="text" class="form-control" name="description" placeholder="Nhập mô tả"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Số tiền <span class="text-danger">*</span></label>
            <input type="number" class="form-control" name="amount" placeholder="Nhập số tiền" value="1000">
            <small class="form-text text-muted">Số tiền tối thiểu là 1000 VNĐ</small>
        </div>
        <button type="submit" class="btn btn-primary">Thanh toán</button>
    </form>
</div>