@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Đã khóa.</h1>
    <h2 class="text-danger">Tài khoản này đã bị khóa, vui lòng thử lại sau (Hãy liên hệ với Admin để mở khóa).</h2>
</hgroup>
