@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*------- 25. Contect us style  -------*/
    .contact-info-wrap-3 h3, .get-in-touch-wrap h3 {
        text-transform: capitalize;
        font-size: 25px;
        font-weight: 600;
        margin: 0 0 30px;
    }

    @@media only screen and (max-width: 767px) {
        .contact-info-wrap-3 h3, .get-in-touch-wrap h3 {
            margin: 0 0 24px;
        }
    }

    @@media only screen and (min-width: 768px) and (max-width: 991px) {
        .contact-info-wrap-3.pb-85, .get-in-touch-wrap.pb-85 {
            padding-bottom: 45px;
        }
    }

    @@media only screen and (max-width: 767px) {
        .contact-info-wrap-3.pb-85, .get-in-touch-wrap.pb-85 {
            padding-bottom: 25px;
        }
    }

    .single-contact-info-3 {
        background-color: #f7f7f7;
        padding: 48px 10px 49px;
    }

    @@media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-contact-info-3 {
            padding: 28px 20px 29px;
        }
    }

    .single-contact-info-3 > i {
        font-size: 24px;
        color: #ff2f2f;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        display: block;
    }

    .single-contact-info-3 h4 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        margin: 19px 0 10px;
    }

    @@media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-contact-info-3 h4 {
            font-size: 18px;
            margin: 12px 0 10px;
        }
    }

    .single-contact-info-3 p {
        letter-spacing: .4px;
        font-size: 15px;
        color: #000000;
    }

    .single-contact-info-3 ul li {
        border-bottom: 2px solid #fff;
        letter-spacing: 0.4px;
        margin-bottom: 23px;
        padding-bottom: 26px;
        font-size: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    @@media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-contact-info-3 ul li {
            display: block;
            margin-bottom: 11px;
            padding-bottom: 11px;
        }
    }

    .single-contact-info-3 ul li:last-child {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
    }

    .single-contact-info-3 ul li i {
        font-size: 24px;
        margin-right: 7px;
        color: #ff2f2f;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        display: inline-block;
    }

    @@media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-contact-info-3 ul li i {
            display: block;
            margin-right: 0px;
            margin-bottom: 3px;
        }
    }

    .single-contact-info-3 ul li a {
        color: #000000;
    }

        .single-contact-info-3 ul li a:hover {
            color: #ff2f2f;
        }

    .single-contact-info-3 ul li:hover i {
        -webkit-animation: 500ms ease-in-out 0s normal none 1 running tada;
        animation: 500ms ease-in-out 0s normal none 1 running tada;
    }

    .single-contact-info-3:hover > i {
        -webkit-animation: 500ms ease-in-out 0s normal none 1 running tada;
        animation: 500ms ease-in-out 0s normal none 1 running tada;
    }

    .contact-from input, .contact-from textarea {
        background: #f7f7f7 none repeat scroll 0 0;
        border: none;
        color: #000;
        height: 60px;
        padding: 2px 20px;
        margin-bottom: 30px;
        position: relative;
    }

    @@media only screen and (max-width: 767px) {
        .contact-from input, .contact-from textarea {
            margin-bottom: 20px;
        }
    }

    .contact-from textarea {
        height: 200px;
        padding: 20px 20px;
    }

    .contact-from button {
        border: none;
        background-color: transparent;
        text-transform: capitalize;
        background-color: #ff2f2f;
        color: #fff;
        padding: 12px 30px;
        font-size: 15px;
        font-weight: 600;
    }

        .contact-from button:hover {
            background-color: #000000;
        }
</style>
<header class="py-5" style="background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(200,9,121,1) 35%, rgba(0,212,255,1) 100%);">
    <div class="container px-1 px-lg-1 my-1">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Giới thiệu iLaptop</h1>
            <p class="lead fw-normal mb-0" style="color: #4cff00;">iLaptop - website bán Laptop úy tín giả tốt chuyên nghiệp! 😍😍😍</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nhóm trưởng</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="~/Content/images/Florentino.jpg" alt="iLaptop" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Nguyễn Văn Huỳnh</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <small>
                                    <i class="fas fa-star" style="color: #ed0fef"></i>
                                    <i class="fas fa-star" style="color: #ed0fef"></i>
                                    <i class="fas fa-star" style="color: #ed0fef"></i>
                                    <i class="fas fa-star" style="color: #ed0fef"></i>
                                    <i class="fas fa-star" style="color: #ed0fef"></i>
                                </small>
                            </div>
                            <!-- Product price-->
                            Admin
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center social-icon"><a class="btn btn-outline-danger mt-auto" href="https://github.com/huynhit24" target="_blank"><img src="~/Content/images/github.png" alt="Github" width="30" height="30" /> Github</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Thành viên</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="~/Content/images/dependabot.png" alt="iLaptop" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Nguyễn Bùi Hoàng phước</h5>
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <small>
                                    <i class="fas fa-star" style="color: #ed0fef"></i>
                                    <i class="fas fa-star" style="color: #ed0fef"></i>
                                    <i class="fas fa-star" style="color: #ed0fef"></i>
                                    <i class="far fa-star" style="color: #ed0fef"></i>
                                    <i class="far fa-star" style="color: #ed0fef"></i>
                                </small>
                            </div>
                            <!-- Product price-->
                            Member
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-success mt-auto" href="https://github.com/dependabot" target="_blank">Xem chi tiết</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.1229824564284!2d106.80410191533451!3d10.87824966027924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8a5f4e477e9%3A0x29d5aeb365cee20b!2zS8O9IHTDumMgeMOhIEtodSBBIMSQSCBRdeG7kWMgZ2lhIFRQLiBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1651244421084!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
