
@{
    ViewBag.Title = "ConfirmPaymentClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin: 20px;">
    <div class="col-12 text-center">
        <img src="~/Content/images/Payment_MoMo.png" alt="Alternate Text" />
    </div>
</div>
<p class="text-center" style="margin: 20px;">
    <a class="btn btn-success" href="@Url.Action("Index","Home")"> <i class="fa fa-home"></i> Về trang chủ</a>
</p>