
<a class="getstarted scrollto active" href="@Url.Action("GioHang",
"GioHang")" style="font-weight:bold; text-decoration:none">
    <i class="fas fa-shopping-bag me-2"></i> Giỏ hàng ( @ViewBag.Tongsoluong ) </a>