@{
    ViewBag.Title = "ThanhToanThatBai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin: 20px;">
    <div class="col-12 text-center">
        <img src="~/Content/images/Payment_MoMo_Failed.png" alt="Alternate Text" />
    </div>
</div>
<h2 class="text-black text-xl-center">Vui lòng kiểm tra thực hiện lại!</h2>
<p class="text-center" style="margin: 20px;">
    <a class="btn btn-success" href="@Url.Action("Index","Home")"> <i class="fa fa-home"></i> Về trang chủ</a>
</p>