
@{
    ViewBag.Title = "XacnhanThanhToan_MoMo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin: 20px;">
    <div class="col-12 text-center">
        <img src="~/Content/images/Payment_MoMo.png" alt="Alternate Text" />
    </div>
</div>
<h2 class="text-black text-xl-center">Đơn hàng đã được xác nhận</h2>
<h3 class="text-black text-xl-center">Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
<p class="text-center" style="margin: 20px;">
    <a class="btn btn-success" href="@Url.Action("Index","Home")"> <i class="fa fa-home"></i> Về trang chủ</a>
</p>