@{
    ViewBag.Title = "Error 401";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iLaptop - Laptop mọi nhà</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/all.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/phonerang.css" rel="stylesheet" />
</head>
<body>
    <div class="row" style="margin: 20px;">
        <div class="col-12 text-center">
            <img src="~/Areas/Administrator/Data/images/halalnode-401.jpg" alt="Error 401" />
        </div>
    </div>
    <h2 class="text-black text-xl-center">Vui lòng đăng nhập Admin!</h2>
    <p class="text-center" style="margin: 20px;">
        <a class="btn btn-success" href="@Url.Action("Index","Home", new { area = "" })"> <i class="fa fa-home"></i> Về trang chủ</a>
    </p>
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/script.js"></script>
    <script type="text/javascript" src="~/Content/js/scripts.js"></script>
</body>


</html>